.grass {
  --enter-timing-func: cubic-bezier(0.15, 0.78, 0.3, 1);
  transform: translateY(100%);
}

.grass--animate {
  animation: enter 0.5s var(--enter-timing-func) forwards;
}

@keyframes enter {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
